.logo-2
{
    width: 15vh !important;
    height: 15vh !important;
}


  .contenedor
  {
    background-color: rgb(54, 102, 102);
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center;


  }

  .probar
  {
    background-color: black !;
  }



