/* Agregar css gloval , estilo de fuente , tam de letra , entre otros */

/* Aplicar Montserrat como fuente global */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /*Buena practica */
    padding: 0;
  }
  